# Вежба 7. Индексирање и транспоновање табеле

У овој вежби ћемо утврдити:

1. индексирање табеле ради флексибилнијег приступа елементима табеле;
2. рачунање са целим редовима и колонама табеле; и
3. транспоновање табеле.

## 7.1. Индексирање

### Задатак.

У следећој табели су дати подаци о једној групи деце:

| Ime | Pol | Starost | Masa | Visina |
|---|---|---|---|---|
|      Ana | ž | 13 | 46 | 160 |
|    Bojan | m | 14 | 52 | 165 |
|    Vlada | m | 13 | 47 | 157 |
|  Gordana | ž | 15 | 54 | 165 |
|    Dejan | m | 15 | 56 | 163 |
|    Đorđe | m | 13 | 45 | 159 |
|    Elena | ž | 14 | 49 | 161 |
|  Žaklina | ž | 15 | 52 | 164 |
|    Zoran | m | 15 | 57 | 167 |
|    Ivana | ž | 13 | 45 | 158 |
|    Jasna | ž | 14 | 51 | 162 |

У ћелији испод се налази мали програм који од ових података прави ефикасну табелу:

In [ ]:
import pandas as pd
podaci = [["Ana",     "ž", 13, 46, 160],
          ["Bojan",   "m", 14, 52, 165],
          ["Vlada",   "m", 13, 47, 157],
          ["Gordana", "ž", 15, 54, 165],
          ["Dejan",   "m", 15, 56, 163],
          ["Đorđe",   "m", 13, 45, 159],
          ["Elena",   "ž", 14, 49, 161],
          ["Žaklina", "ž", 15, 52, 164],
          ["Zoran",   "m", 15, 57, 167],
          ["Ivana",   "ž", 13, 45, 158],
          ["Jasna",   "ž", 14, 51, 162]]
tabela = pd.DataFrame(podaci)

Именуј колоне табеле како је показано у формулацији задатка и индексирај табелу колоном "Ime":

Прикажи масу деце у групи графиконом тако да имена деце буду на хоризонталној оси:

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,5))
plt.bar(???, ???) # <--- уместо упитника унеси одговарајуће групе података
plt.title("Masa dece u grupi")
plt.show()

## 7.2. Рачун по врстама и колонама табеле

### Задатак.

У ћелији испод дате су оцене неких ученика из информатике, енглеског, математике, физике, хемије и ликовног:

In [ ]:
razred = [["Ana",     5, 3, 5, 2, 4, 5],
          ["Bojan",   5, 5, 5, 5, 5, 5],
          ["Vlada",   4, 5, 3, 4, 5, 4],
          ["Gordana", 5, 5, 5, 5, 5, 5],
          ["Dejan",   3, 4, 2, 3, 3, 4],
          ["Đorđe",   4, 5, 3, 4, 5, 4],
          ["Elena",   3, 3, 3, 4, 2, 3],
          ["Žaklina", 5, 5, 4, 5, 4, 5],
          ["Zoran",   4, 5, 4, 4, 3, 5],
          ["Ivana",   2, 2, 2, 2, 2, 5],
          ["Jasna",   3, 4, 5, 4, 5, 5]]

Од ових података направи табелу чије колоне ће се звати "Ime", "Informatika", "Engleski", "Matematika", "Fizika", "Hemija", "Likovno" и која ће бити индексирана по колони "Ime":

За сваки од предмета израчунај просечну оцену:

За сваког ученика израчунај просечну оцену:

### Задатак.

Ево трошкова живота једне породице током једне године, по месецима (сви износи су представљени у динарима):
  
  | Stavka | Jan | Feb | Mar | Apr | Maj | Jun | Jul | Avg | Sep | Okt | Nov | Dec |
  |--------|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|
  | Stanarina | 8.251 | 8.436 | 8.524 | 8.388 | 8.241 | 8.196 | 8.004 | 7.996 | 7.991 | 8.015 | 8.353 | 8.456 |
  | Struja | 4.321 | 4.530 | 4.115 | 3.990 | 3.985 | 3.726 | 3.351 | 3.289 | 3.295 | 3.485 | 3.826 | 3.834 |
  | Telefon (fiksni) | 1.425 | 1.538 | 1.623 | 1.489 | 1.521 | 1.485 | 1.491 | 1.399 | 1.467 | 1.531 | 1.410 | 1.385 |
  | Telefon (mobilni) | 2.181 | 2.235 | 2.073 | 1.951 | 1.989 | 1.945 | 3.017 | 2.638 | 2.171 | 1.831 | 1.926 | 1.833 |
  | TV i internet | 2.399 | 2.399 | 2.399 | 2.399 | 2.399 | 2.399 | 2.399 | 2.399 | 2.399 | 2.399 | 2.399 | 2.399  |
  | Prevoz | 1.830 | 1.830 | 1.830 | 1.830 | 1.950 | 1.950 | 1.450 | 1.450 | 1.950 | 1.950 | 2.050 | 2.050 |
  | Hrana | 23.250 | 23.780 | 24.019 | 24.117 | 24.389 | 24.571 | 24.736 | 24.951 | 25.111 | 25.389 | 25.531 | 25.923 |
  | Ostalo | 4.500 | 3.700 | 5.100 | 3.500 | 2.750 | 4.250 | 7.320 | 8.250 | 3.270 | 4.290 | 3.200 | 8.390 |

У ћелији испод су исти подаци представљени листом:

In [ ]:
troskovi = [
  ["Stanarina", 8251, 8436, 8524, 8388, 8241, 8196, 8004, 7996, 7991, 8015, 8353, 8456],
  ["Struja", 4321, 4530, 4115, 3990, 3985, 3726, 3351, 3289, 3295, 3485, 3826, 3834],
  ["Telefon (fiksni)", 1425, 1538, 1623, 1489, 1521, 1485, 1491, 1399, 1467, 1531, 1410, 1385],
  ["Telefon (mobilni)", 2181, 2235, 2073, 1951, 1989, 1945, 3017, 2638, 2171, 1831, 1926, 1833],
  ["TV i internet", 2399, 2399, 2399, 2399, 2399, 2399, 2399, 2399, 2399, 2399, 2399, 2399 ],
  ["Prevoz", 1830, 1830, 1830, 1830, 1950, 1950, 1450, 1450, 1950, 1950, 2050, 2050],
  ["Hrana", 23250, 23780, 24019, 24117, 24389, 24571, 24736, 24951, 25111, 25389, 25531, 25923],
  ["Ostalo", 4500, 3700, 5100, 3500, 2750, 4250, 7320, 8250, 3270, 4290, 3200, 8390]
]

*(а)* Представи табелу структуром *DataFrame*. Индексирај табелу.

*(б)* Израчунај и испиши *просечну* потрошњу ове породице по ставкама (колико је породица просечно потрошила на станарину, колико на струју, итд).

### Задатак.

Ученици осмог разреда једне школе су анкетирани о томе коју врсту филмова најрадије гледају. Подаци анкете су дати у следећој табели (у коју нису унети неважећи и бесмислени одговори):

| Žanr | 8-1 | 8-2 | 8-3 | 8-4 | 8-5 |
|------|-----|-----|-----|-----|-----|
| Komedija | 4 | 3 | 5 | 2 | 3 |
| Horor | 1 | 0 | 2 | 1 | 6 |
| Naučna fantastika | 10 | 7 | 9 | 8 | 9 |
| Avanture | 4 | 3 | 4 | 2 | 2 |
| Istorijski | 1 | 0 | 2 | 0 | 0 |
| Romantični | 11 | 10 | 7 | 9 | 8 |

*(а)* Формирај одговарајућу табелу позивом функције *DataFrame*. Индексирај табелу колоном "Žanr".

*(б)* Израчунај и испиши колико гласова је добио сваки од наведених жанрова.

*(в)* За свако одељење израчунај и испиши колико је било валидних гласова.

*(г)* Колико је укупно ученика осмих разреда учествовало у анкетирању? (Рачунамо само ученике који су дали валидне одговоре на анкету.)

### Задатак*.

Нутритивни подаци за неке намирнице су дати у следећој табели:

| Namirnica (100g) | Energetska vrednost (kcal) | Ugljeni hidrati (g) | Belančevine (g) | Masti (g) |
|--|--|--|--|--|
| Crni hleb | 250 | 48,2 | 8,4 | 1,0 |
| Beli hleb | 280 | 57,5 | 6,8 | 0,5 |
| Kisela pavlaka (10% m.m.) | 127 | 4,0 | 3,1 | 10,5 |
| Margarin | 532 | 4,6 | 3,2 | 1,5 |
| Jogurt | 48 | 4,7 | 4,0 | 3,3 |
| Mleko (2,8% m.m.) | 57 | 4,7 | 3,3 | 2,8 |
| Salama parizer | 523 | 1,0 | 17,0 | 47,0 |
| Pršuta | 268 | 0,0 | 25,5 | 18,4 |
| Pileća prsa | 110 | 0,0 | 23,1 | 1,2 |

У ћелији испод ови подаци су припремљени у облику индексиране *DataFrame* структуре (са скраћеним именима):

In [ ]:
namirnice = pd.DataFrame([
    ["Chleb", 250, 48.2, 8.4, 1.0],
    ["Bhleb", 280, 57.5, 6.8, 0.5],
    ["Pavlaka", 127, 4.0, 3.1, 10.5],
    ["Margarin", 532, 4.6, 3.2, 1.5],
    ["Jogurt", 48, 4.7, 4.0, 3.3],
    ["Mleko", 57, 4.7, 3.3, 2.8],
    ["Parizer", 523, 1.0, 17.0, 47.0],
    ["Pršuta", 268, 0.0, 25.5, 18.4],
    ["PilPrsa", 110, 0.0, 23.1, 1.2]])
namirnice.columns=["Namirnica", "EnergVr", "UH", "Bel", "Masti"]
namirnice1 = namirnice.set_index("Namirnica")

*(а)* Милош је за доручак појео два парчета белог хлеба и попио шољу млека. Свако парче хлеба је било намазано павлаком и имало је један шнит пршуте. Колика је енергетска вредност Милошевог доручка (у kcal), ако претпоставимо да једно парче хлеба има 100 г, да је за мазање једног парчета хлеба довољно 10 г премаза, да један шнит пршуте има 20г и да шоља млека има 2 дл (што је приближно 200 г)?

*(б)* Колико грама масти је било у Милошевом доручку?

*(в)* Прикажи дијаграмом количину угљених хидрата у намирницама наведеним у табели.

### Задатак*.

У табели испод су дати подаци о продаји неких производа у пет пословних јединица једне компаније (бројеви представљају број продатих комада у једном месецу):

| Proizvod       | PJ1 | PJ2 | PJ3 | PJ4 | PJ5 |
|----------------|-----|-----|-----|-----|-----|
| Cipele         |  5  | 17  |  3  | 11  |  9  |
| Košulja         |  8  |  6  |  7  |  4  |  0  |
| Kaiš           |  4  |  1  |  3  |  5  |  1  |
| Pantalone      |  4  |  2  |  6  |  4  |  5  |
| Čarape (par)   |  8  |  9  |  7  |  4  |  9  |
| Kravata        |  1  |  0  |  3  |  2  |  4  |

Следећа табела садржи цене ових производа у динарима:

| Proizvod       | Cena (din) |
|----------------|------------|
| Cipele         |  11.250  |
| Košulja         |   6.500  |
| Kaiš           |   4.750  |
| Pantalone      |   2.500  |
| Čarape (par)   |     750  |
| Kravata        |   3.500  |

Ћелија испод садржи податке из ове две табеле представљене у облику листе:

In [ ]:
proizvodi = [
    ["Cipele",         5, 17,  3, 11,  9],
    ["Košulja",         8,  6,  7,  4,  0],
    ["Kaiš",           4,  1,  3,  5,  1],
    ["Pantalone",      4,  2,  6,  4,  5],
    ["Čarape (par)",   8,  9,  7,  4,  9],
    ["Kravata",        1,  0,  3,  2,  4]]
cene = [
    ["Cipele",         11250],
    ["Košulja",          6500],
    ["Kaiš",            4750],
    ["Pantalone",       2500],
    ["Čarape (par)",     750],
    ["Kravata",         3500]]

*(а)* Представи обе табеле структуром *DataFrame*. Индексирај обе табеле.

*(б)* Израчунај колико је укупно у том месецу продато ципела, кошуља, каишева, панталона, чарапа и кравата.

*(в)* Израчунај колико је у том месецу компанија зарадила на продаји ципела, колико на продаји кошуља, колико на продаји каишева, итд.

*(г*)* Израчунај и испиши зараду сваке пословне јединице у том месецу.

## 7.3. Транспоновање табеле

Замена врста и колона табеле се зове *транспоновање*. Приликом транспоновања имена колона полазне табеле постају индекси нове табеле, док индексна колона полазне табеле одређује имена колона нове табеле:

![Транспоновање](slike/DataFrame-T.jpg)

### Задатак.

У фолдеру *podaci* се налази датотека *TemperaturneAnomalije.csv* која садржи податке о томе за колико степени Целзијуса је средња измерена температура на Земљи већа од оптималне у последњих 40 година. Ова табела има два дугачка реда који изгледају овако:

    1977,1978,1979,1980,1981,...
    0.22,0.14,0.15,0.3,0.37,...

У првом реду се налазе године (1977-2017), а у другом измерена температурна аномалија. Табела нема заглавље.

*(а)* Учитај табелу у структуру *DataFrame* користећи функцију `read_csv` из библиотеке `pandas`. (Напомена: када табела нема заглавље у функцији за учитавање треба навести опцију `header=None`.)

*(б)* Транспонуј табелу и колоне транспоноване табеле назови "Godina" i "Anomalija".

*(в)* Индексирај табелу колоном "Godina".

*(г)* Прикажи температурне аномалије дијаграмом.

### Задатак.

У фолдеру *podaci* се налази датотека *StanovnistvoSrbije2017.csv* (која има заглавље). Табела има три колоне које се зову "Starost", "M" и "Ž".

*(а)* Учитај датотеку у структуру података *DataFrame* и индексирај табелу колоном "Starost".

*(б)* Прикажи процењени број мушкараца и жена по старости линијским дијаграмом.

*(в)* На основу података из табеле израчунај колики је процењени број становника у следећим старосним групама:

* 0--17 година,
* 18--65 година, и
* 66 и више година,

и представи ова три податка секторским дијаграмом. (Упутство: следећи израз може бити од помоћи: `tabela.loc["0":"17", "M":"Ž"]`)